__pycache__/*
*/__pycache__
scripts/*.out
scripts/no_tears*
scripts/*experiment*
scripts/*.png
scripts/*.csv
experiment*
scripts/*.png
scripts/*/*.png
scripts/kncockoff_er/*
scripts/kncockoff_er
scripts/results
scripts/results/*
scripts/$SCRATH
scripts/$SCRATH/*
gran_dag_play/output
gran_dag_play/output/*
gran_dag_play/exp/both_graphs/pns/*
gran_dag_play/exp/both_graphs/to-dag/*
gran_dag_play/exp/both_graphs/train/*.pkl
gran_dag_play/exp/both_graphs/train/*.npy
gran_dag_play/exp/risk_extrapolation/to-dag/*
gran_dag_play/exp/risk_extrapolation/train/*.pkl
gran_dag_play/exp/risk_extrapolation/train/*.npy
gran_dag_play/exp/graph1/to-dag/*
gran_dag_play/exp/graph1/train/*.pkl
gran_dag_play/exp/graph1/train/*.npy
gran_dag_play/data/
gran_dag_play/models/
results/
scripts/results_multiple/